<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %>, you are hired to work as to the post <%= @user.class.name %></h1><br>
    Your password: <%= @password %>
    <a href="https://ancient-castle-35398.herokuapp.com/workers/sign_in">Link to sign in</a>
    <p>GeegHub lesson 12 ROR </p>
    <p>
      Sample mail sent using smtp.
    </p>
  </body>
</html>